@charset "UTF-8";
/* CSS document */

/*Importación de fuentes*/

@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);

@import url(https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap);

@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap);

@font-face {
    font-family: "Display";
    src: url(fonts/Display/5thAvenue.ttf), format("truetype");
}

/* para todos los html en general*/

html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    cursor: url(img/svg/cursor.svg), auto;
    background-color: var(--color_fondo);
}

:root {
    --color_fondo: #fffcf5;
    --color_texto: #e60063;
    --color_textosec: #ff4d00;
    --color_vectores: #ff7e01;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

nav {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin: 30px 40px 0 40px;
}

.botonera {
    display: flex;
    justify-content: flex-end;
    gap: 55px;
    flex-direction: row;

}

.boton_html {
    color: var(--color_texto);
    font-family: "Roboto Mono";
    font-size: 1.5rem;
    font-weight: 700;
}

#nav_abierto {
    color: #ff4d00;
}

/*cuerpos tipográficos*/ 
h1 {
    font-family: "Display";
    color: var(--color_texto);
    font-size: 9rem;
    letter-spacing: 9px;
    margin: 0;
}

h2 {
    color: var(--color_textosec);
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 2.2rem;
    font-style: italic;
    font-weight: 700;
    letter-spacing: 3px;
    margin-bottom: 20px;
}
.titulo_html {
    font-family: "Display";
    color: var(--color_texto);
    font-size: 6rem;
    letter-spacing: 9px;
    margin: 0;
}
h3 {
    color: var(--color_fondo);
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 2rem;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 5px;
    margin: 0;
}

p {
    color: var(--color_texto);
    font-family: "Montserrat";
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 42px;
}

.bajada {
    width: 50%;
    font-style: italic;
    max-width: 1200px;
    margin: 0;
}
.texto_roboto {
    color: var(--color_texto);
    font-family: "Roboto Mono";
    font-weight: 700;
    font-size: 2rem;
}

.caja_footer {
    display: flex;
    flex-direction: row;
    background-color: var(--color_vectores);
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 100px;

}

.flex_footer {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.texto_footer {
    font-family: "Roboto Mono";
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--color_fondo);
}

#footer_redes {
    display: flex;
    flex-direction: row;
    gap: 35px;
}

/*ANIMACIONES*/

/*animación para los botones de navegación de los html*/
.flor_navanimada {
    animation: latido 1s infinite ease-in-out;
}

@keyframes latido {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}

.boton_html {
    position: relative;
    transition: transform 0.4s ;
}

.boton_html:hover {
    transform: scale(1.15);
}

/*animación en index */
.flor_animada {
    animation-name: girar;
    animation-duration: 17s;
    position: relative;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes girar {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.girar {
    animation: girar 15s linear infinite;
}

.boton_index:hover {
    background-color: var(--color_textosec);
    transform: scale(1.2);
}

/*animación en el html de mimate*/
@keyframes destello {
    0% {
        text-shadow: 0 0 100px #fff, 0 0 10px var(--color_textosec); 
    }
    50% {
        text-shadow: 0 0 400px #fff, 0 0 20px var(--color_textosec), 0 0 30px var(--color_vectores);
    }
    100% {
        text-shadow: 0 0 100px #fff, 0 0 10px var(--color_textosec);
    }
}

/*animación en conoceme.html*/
.tarjeta:hover {
    transform: scale(1.03);
}

.foto_portada {
    position: relative;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 450px; 
    transform: translate(-50%, -50%);
    z-index: 2;
    transition: opacity 0.4s ease;
    object-fit: cover; 
}
.imagen_oculta { 
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 1;
}

.tarjeta:hover .imagen_oculta { 
    opacity: 1;
}

.tarjeta:hover .foto_portada { 
    opacity: 0;
}

/*animación en galería.html*/
.fila_arriba a,
.fila_abajo a {
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  cursor:pointer;
}

.fila_arriba img,
.fila_abajo img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  transition: transform 0.5s ease-inout;
}

.fila_arriba a::after,
.fila_abajo a::after {
  content: "Pispeame";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color_textosec);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto Mono", sans-serif;
  font-weight: 700;
  font-size: 2.5em;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.fila_arriba a:hover::after,
.fila_abajo a:hover::after {
  opacity: 0.5;
}

.fila_arriba a:hover img,
.fila_abajo a:hover img {
  transform: scale(1.05);
}

/*animación en contacto.html*/
aside a {
    transition: transform 0.3s ease-in-out;
}

a:hover {
    transform: scale(1.15);
}

/* INDEX */

.contenedor_body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* reparte header, main y footer */
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

/*sección presentación*/
.seccion_presentacion {
    display: flex;
    align-items: center;
    gap: 50px;
}

/*sección opciones nav*/
.botonera_index {
    display: flex;
    flex-direction: row;
    gap: 200px;
    justify-content: center;
    margin-top: 50px;
}

.boton_index {
    background-color: var(--color_vectores);
    border-radius: 60px;
    padding: 15px 25px;
    font-family: "Roboto Mono";
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--color_fondo);
    transition: all 0.3s ease-in-out;
}

/*CONOCEME*/

/*sección sobre mí*/
.contenedor_columnas {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 120px 0 ;
}

.columna_izq {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#foto_sobremi {
    border-radius: 20px;
}

#datos_sobremi {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    width: 75%;  
}

span {
    font-style: italic;
}

.columna_der {
    position: relative;
    width: 180px;
    height: 180px;
}

.columna_der img {
    position: absolute;
    opacity:30%;
}

#elementoa {
    z-index: 1;
    top: 30px;
    right: 300px;
}

#elementob {
    z-index: 5;
    bottom: 20px;
    right: 100px;
}

#elementoc {
    z-index: 8;
    top: 140px;
    right: 200px;
}

/*sección intereses*/
.flex_abajo {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;
    margin-left: 40px;
    margin-right: 40px;
}

/*slider ilustraciones*/
.slider_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide_workspace {
    position: relative;
    height: 450px;
    width: 450px;
    border-radius: 20px;
    overflow: hidden;
}

.slide_workspace img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: 1.5rem;
    z-index: 1;
}

#slide1:checked~.slide_workspace .img1,
#slide2:checked~.slide_workspace .img2,
#slide3:checked~.slide_workspace .img3,
#slide4:checked~.slide_workspace .img4,
#slide5:checked~.slide_workspace .img5,
#slide6:checked~.slide_workspace .img6,
#slide7:checked~.slide_workspace .img7,
#slide8:checked~.slide_workspace .img8, 
#slide9:checked~.slide_workspace .img9 {
    opacity: 1;
    z-index: 2;
}

.puntos_space {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.puntos_space label {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid var(--color_textosec);
    cursor: pointer;
}

#slide1:checked~.puntos_space label[for="slide1"],
#slide2:checked~.puntos_space label[for="slide2"],
#slide3:checked~.puntos_space label[for="slide3"],
#slide4:checked~.puntos_space label[for="slide4"],
#slide5:checked~.puntos_space label[for="slide5"],
#slide6:checked~.puntos_space label[for="slide6"],
#slide7:checked~.puntos_space label[for="slide7"],
#slide8:checked~.puntos_space label[for="slide8"],
#slide9:checked~.puntos_space label[for="slide9"] {
    background: var(--color_textosec);
    border-color: var(--color_textosec);
}

input[type="radio"] {
    display: none;
}

/*mi verdadera yo*/
.tarjeta {
    position: relative;
    width: 450px;
    height: 450px;
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.4s ease;
}

/*GALERÍA*/

/*inicio de galería*/
.contenerdor_inicio {
    margin: 10px 50px 0px  100px;
}

/*sección fotografías*/
.estructura_galeria {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    margin-top: 40px;
}

.fila_arriba, .fila_abajo {
    display: flex;
    gap: 50px;
    justify-content: center;
}

/*htmls dentro de galeria*/
iframe {
    border-radius: 20px;
}

.presentacion_galeria {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 50px;
    margin: 0 50px;
}

.flex_izq {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.titulo_galeria {
    font-family: "Display";
    color: var(--color_texto);
    font-size: 5rem;
    letter-spacing: 5px;
    line-height: 80px;
}

.bajada_galeria {
    font-size: 1.6rem;
    line-height: 35px;
    width: 80%;
}

.galeria {
    display: flex;
    justify-content: center; 
    gap: 10px; 
    width: 80%; 
    margin: 45px auto; 
}

.card{
    position: relative;
    left: 0;
    width: 100%; 
    border-radius: 90px; 
    height: 500px;
    overflow: hidden; 
    transition: .4s ease-in-out; 
    flex: .15; 
}

.card img{
    position: relative; 
    height: 100%;
    width: 100%; 
    object-fit: cover; 
}

.card:hover{
    flex: 1 1 0; 
    cursor: pointer;
    border-radius: 60px;
}

#boton_atras {
    margin: 30px 0 0 30px;
}

/*html de foto producto*/
#tarjeta_helado {
    color: var(--color_textosec);
    padding: 10px;
    border: solid 2px var(--color_textosec);
    border-radius: 90px;
    text-align: center;
    max-width: 400px;
    margin-right: 50px;
}

#galeria_producto {
    max-width: 1000px;
}

/*html mimate by flor*/ 
#mimate_ig {
    font-family: "IBM Plex Sans";
    font-size: 3rem;
    text-align: center;
    color: var(--color_fondo);
    font-weight: 600;
    animation: destello 1.8s infinite alternate ease-in-out;
}
/* CONTACTO */

/*texto de invitación*/
.contenedor_inicio {
    margin-left: 70px;
}

/*formulario*/
.contenedor_abajo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.informacion_datos {
    background-color: var(--color_textosec);
    border-radius: 50px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    align-items: start;
    margin-top: 30px;
    margin-left: 60px;
}

form {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    gap: 20px;
}

#boton_enviar {
    background-color: var(--color_fondo);
    color: var(--color_textosec);
    font-weight: 700;
    width: 100%;
    padding: 15px;
}

input,
textarea {
    font-family: "Montserrat";
    border: none;
    font-size: 1.2rem;
    border-radius: 40px;
    padding: 25px;
    width: 600px;
}

textarea {
    resize: vertical;
}

.flex_li {
    display: flex;
    align-items: center;
    gap: 15px;
}

.info_contacto {
    color: var(--color_texto);
    font-family: "Roboto Mono";
    font-weight: 700;
    font-size: 1.7rem;
    line-height: 100px;
}

/*links a redes sociales*/
aside {
    display:flex;
    flex-direction:column;
    gap: 90px;
    margin-right: 90px;
}

