@charset "UTF-8";
/* CSS document */

/*Importación de fuentes*/

@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);

@import url(https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap);

@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap);

@font-face {
    font-family: "Display";
    src: url(fonts/Display/5thAvenue.ttf), format("truetype");
}

/* para todos los html en general*/

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --color_fondo: #fffcf5;
    --color_texto: #e60063;
    --color_textosec: #ff4d00;
    --color_vectores: #ff7e01;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/*cuerpos tipográficos*/ 
h1 {

    font-family: "Display";
    color: var(--color_texto);
    font-size: 7rem;
    letter-spacing: 9px;
}

h2 {
    color: var(--color_textosec);
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 2.5rem;
    font-style: italic;
    font-weight: 700;
    letter-spacing: 5px;
}

h3 {
    color: var(--color_fondo);
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 2.1rem;
    font-style: italic;
    font-weight: 500;
    letter-spacing: 5px;
}

p {
    color: var(--color_texto);
    font-family: "Montserrat";
    font-size: 1.9rem;
    font-weight: 500;
}

.texto_roboto {
    color: var(--color_texto);
    font-family: "Roboto Mono";
    font-weight: 700;
    font-size: 2.5rem;
}

/*ANIMACIONES*/

/*animación para los botones de navegación de los html*/
.flor_navanimada {
    animation: latido 1s infinite ease-in-out;
}

@keyframes latido {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}

.boton_html {
    position: relative;
    transition: transform 0.4s ;
}

.boton_html:hover {
    transform: scale(1.15);
}

/*animación en index */
.flor_animada {
    animation-name: girar;
    animation-duration: 5s;
    position: relative;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes girar {
    from {
        transform: rotate(45deg);
    }

    to {
        transition: transform 0.3;
    }
}

.girar {
    animation: girar continuo 15s linear infinite;
}

.boton_index:hover {
    background-color: var(--color_textosec);
    transform: scale(1.2);
}

/* INDEX */

.contenedor_body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* reparte header, main y footer */
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.seccion_presentacion {
    display: flex;
    align-items: center;
    gap: 50px;
}


.botonera_index {
    display: flex;
    flex-direction: row;
    gap: 180px;
    justify-content: center;

}

.boton_index {
    background-color: var(--color_vectores);
    border-radius: 60px;
    padding: 15px 25px;
    font-family: "Roboto Mono";
    font-size: 2rem;
    font-weight: 500;
    color: var(--color_fondo);
    transition: all 0.3s ease-in-out;
}

